Repository Financbase/caribe-mail-connect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin, @lead-developer, @frontend-team, @ui-team, @backend-team, @api-team, @database-admin, @senior-backend, @security-team, @devops-team, @ci-team, @qa-team, @documentation-team, @mobile-team, @analytics-team, @integration-team, @billing-team, @customer-team, @communications-team, @admin-team, @performance-team, @i18n-team, @legal-team, @security-emergency, @database-emergency, @billing-emergency

deploy: Add production deployment scripts and Cloudflare configuration
  scripts/deploy-production.sh
  scripts/test-production.sh
  scripts/test-ui-ux.mjs
  wrangler.toml
Owners: @admin, @lead-developer

docs: Add comprehensive project documentation and implementation reports
  CLOUDFLARE_DEPLOYMENT.md
  COMPREHENSIVE_TESTING_REPORT_FINAL.md
  FEATURED_ICONS_COMPARISON.md
  FEATURED_ICONS_IMPLEMENTATION.md
  PLAYWRIGHT_TESTING_REPORT.md
  PRMCMS_TRANSFORMATION_COMPLETE.md
  PRODUCTION_VALIDATION_REPORT.md
  REAL_AI_IMPLEMENTATION_EVIDENCE.md
  UI_ENHANCEMENT_SUMMARY.md
  UNTITLED_UI_INTEGRATION_STRATEGY.md
  UNTITLED_UI_PHASE_1_COMPLETE.md
  docs/AI_IMPLEMENTATION.md
Owners: @documentation-team, @lead-developer

feat: Add Storybook stories, styles, and final enhancements
  Supabase_suggestions
  UX_IMPROVEMENT_TASKS.md
  UX_IMPROVEMENT_TIMELINE.md
  src/stories/FeaturedIcon.stories.tsx
  src/stories/Phase2Integration.stories.tsx
  src/stories/UntitledUIIntegration.stories.tsx
  src/styles/design-system.css
  supabase/migrations/20250814124500_saas_lifecycle_automation.sql
  test-ai-functionality.js
Owners: @admin, @lead-developer, @documentation-team, @frontend-team, @ui-team, @database-admin

chore: Update .gitignore to exclude build artifacts and environment files
  .gitignore
Owners: @admin, @lead-developer

Merge .gitignore improvements for test artifacts
  .gitignore
Owners: @admin, @lead-developer

Merge CI workflow implementation
  .github/workflows/ci.yml
Owners: @devops-team

Merge documentation: tenancy pricing and compliance overview
  README.md
  docs/product/tenancy-pricing-compliance.md
Owners: @lead-developer, @documentation-team

Merge analytics integration: metrics and error tracking
  src/components/notifications/NotificationAnalyticsDashboard.tsx
  supabase/functions/_shared/sentry.ts
  supabase/functions/execute-report/index.ts
  supabase/functions/export-report/index.ts
  supabase/functions/generate-health-report/index.ts
  supabase/functions/generate-payment-link/index.ts
  supabase/functions/process-report-schedules/index.ts
  supabase/functions/run-automated-tests/index.ts
  supabase/functions/run-billing-cycle/index.ts
  supabase/functions/send-scheduled-report/index.ts
  supabase/functions/sync-accounting-data/index.ts
  supabase/functions/sync-carrier-tracking/index.ts
  supabase/functions/sync-integration/index.ts
  supabase/functions/test-integration/index.ts
  supabase/functions/webhook-handler/index.ts
Owners: @communications-team, @frontend-team, @database-admin, @backend-team

Merge environment feature flags and release documentation
  CHANGELOG.md
  docs/operations/release-process.md
  packages/feature-flags/index.ts
  packages/feature-flags/package.json
  tsconfig.json
Owners: @lead-developer, @devops-team, @documentation-team, @backend-team, @frontend-team

Merge OpenAPI specification and webhook improvements
  docs/api/versioning.md
  services/api/openapi.yaml
  supabase/functions/webhook-handler/index.ts
Owners: @documentation-team, @devops-team, @database-admin, @backend-team

feat: Add final UI/UX enhancements and accessibility improvements
  Supabase_warnings.md
  UI_TASK_LIST.md
  UI_UX_IMPLEMENTATION_SESSION_SUMMARY.md
  UX_IMPROVEMENT_TASKS.md
  eslint-rules/no-hardcoded-strings.js
  index.html
  package-lock.json
  package.json
  src/components/a11y/AriaLiveProvider.tsx
  src/components/a11y/FocusManager.tsx
  src/components/a11y/SkipLinks.tsx
  src/components/compound/CaribbeanDashboard.tsx
  src/components/compound/CaribbeanSearch.tsx
  src/components/compound/CaribbeanTable.tsx
  src/components/compound/PackageIntakeWizard.tsx
  src/components/feedback/FeedbackAnimation.tsx
  src/components/forms/FormLayout.tsx
  src/components/mobile/MobileGestureNavigation.tsx
  src/components/performance/LowBandwidthLayout.tsx
  src/components/ui/caribbean-button.tsx
  src/components/ui/enhanced-card.tsx
  src/components/ui/modal.tsx
  src/components/ui/responsive-image.tsx
  src/hooks/useAutoSave.tsx
  src/hooks/useLanguage.tsx
  src/index.css
  src/styles/animations.css
  src/styles/buttons.css
  src/styles/cards.css
  src/styles/focus-visible.css
  src/styles/fonts.css
  src/styles/forms.css
  src/styles/low-bandwidth.css
  src/styles/modals.css
  src/styles/safe-areas.css
  src/styles/tables.css
  src/utils/accessibility-testing.ts
  vite.config.ts
Owners: @documentation-team, @lead-developer, @admin, @devops-team, @frontend-team, @ui-team, @backend-team

chore: Add final configuration and documentation updates
  .eslintrc.json
  UI_TASK_LIST.md
  UI_UX_IMPLEMENTATION_SESSION_SUMMARY.md
Owners: @admin, @lead-developer, @documentation-team

chore: Final cleanup and story additions
  src/components/a11y/AriaLiveProvider.stories.tsx
  src/components/feedback/FeedbackAnimation.stories.tsx
  src/components/ui/Button.stories.tsx
  src/hooks/useAnalytics.ts
Owners: @frontend-team, @backend-team

feat: Major codebase cleanup and optimization
  CARIBBEAN_UI_IMPLEMENTATION_COMPLETE.md
  UI_UX_IMPLEMENTATION_SESSION_SUMMARY.md
  src/components/a11y/FocusManager.stories.tsx
  src/stories/CaribbeanDesignSystem.stories.tsx
Owners: @documentation-team, @lead-developer, @frontend-team

.github/CODEOWNERS:

# CODEOWNERS
# GitHub Branch Protection - Code Owners Configuration
# 
# This file defines who owns specific parts of the codebase
# and who should be automatically requested for reviews

# Global owners - these users are requested for all changes
* @admin @lead-developer

# Frontend Components and UI
src/components/** @frontend-team @ui-team
src/pages/** @frontend-team
src/styles/** @frontend-team @ui-team
src/hooks/** @frontend-team
*.tsx @frontend-team
*.jsx @frontend-team
*.css @frontend-team @ui-team
*.scss @frontend-team @ui-team

# Backend Services and API
src/services/** @backend-team @api-team
src/lib/** @backend-team
src/utils/** @backend-team @frontend-team
src/types/** @backend-team @frontend-team
*.ts @backend-team @frontend-team

# Database and Supabase
supabase/** @database-admin @backend-team
supabase/migrations/** @database-admin @senior-backend
supabase/seed.sql @database-admin
*.sql @database-admin

# Authentication and Security
src/lib/auth/** @security-team @lead-developer @backend-team
src/lib/security/** @security-team @lead-developer
src/middleware/** @security-team @backend-team
src/lib/encryption/** @security-team @lead-developer

# Infrastructure and DevOps
.github/** @devops-team @lead-developer
.github/workflows/** @devops-team @ci-team
docker/** @devops-team
Dockerfile* @devops-team
docker-compose* @devops-team
*.yml @devops-team
*.yaml @devops-team

# Configuration Files
package.json @lead-developer @devops-team
package-lock.json @lead-developer @devops-team
tsconfig.json @lead-developer @frontend-team @backend-team
tailwind.config.js @frontend-team @ui-team
vite.config.ts @frontend-team @devops-team
next.config.js @frontend-team @devops-team

# Testing
src/**/*.test.* @qa-team @backend-team @frontend-team
src/**/*.spec.* @qa-team @backend-team @frontend-team
tests/** @qa-team
e2e/** @qa-team @frontend-team
playwright.config.ts @qa-team @devops-team
vitest.config.ts @qa-team @devops-team

# Documentation
*.md @documentation-team @lead-developer
docs/** @documentation-team
README.md @lead-developer @documentation-team
CONTRIBUTING.md @lead-developer @documentation-team
CHANGELOG.md @lead-developer @devops-team

# Environment and Secrets
.env* @security-team @devops-team @lead-developer
*.env @security-team @devops-team @lead-developer

# Build and Deployment
dist/** @devops-team
build/** @devops-team
public/** @frontend-team @devops-team

# Specific Critical Files
src/lib/database.ts @database-admin @security-team @lead-developer
src/lib/stripe.ts @backend-team @security-team @lead-developer
src/lib/supabase.ts @database-admin @backend-team @lead-developer

# Mobile and PWA
src/lib/mobile/** @mobile-team @frontend-team
public/manifest.json @mobile-team @frontend-team
src/service-worker.ts @mobile-team @devops-team

# Analytics and Monitoring
src/lib/analytics/** @analytics-team @backend-team
src/lib/monitoring/** @devops-team @backend-team
src/lib/sentry.ts @devops-team @backend-team

# Integrations
src/integrations/** @integration-team @backend-team
src/lib/webhooks/** @integration-team @backend-team
src/lib/api/** @api-team @backend-team

# Billing and Payments
src/lib/billing/** @billing-team @security-team @backend-team
src/lib/payments/** @billing-team @security-team @backend-team
src/components/billing/** @billing-team @frontend-team

# Customer Management
src/lib/customers/** @customer-team @backend-team
src/components/customers/** @customer-team @frontend-team

# Notifications and Communications
src/lib/notifications/** @communications-team @backend-team
src/lib/email/** @communications-team @backend-team
src/lib/sms/** @communications-team @backend-team
src/components/notifications/** @communications-team @frontend-team

# Reporting and Analytics
src/lib/reports/** @analytics-team @backend-team
src/components/reports/** @analytics-team @frontend-team
src/components/analytics/** @analytics-team @frontend-team

# Admin and Management
src/components/admin/** @admin-team @security-team @frontend-team
src/lib/admin/** @admin-team @security-team @backend-team

# Performance and Optimization
src/lib/performance/** @performance-team @backend-team
src/lib/cache/** @performance-team @backend-team

# Localization and Internationalization
src/locales/** @i18n-team @frontend-team
src/lib/i18n/** @i18n-team @frontend-team

# Legal and Compliance
src/lib/compliance/** @legal-team @security-team @backend-team
src/components/legal/** @legal-team @frontend-team

# Emergency Contacts for Critical Issues
# These users should be contacted for urgent security or production issues
src/lib/auth/security.ts @security-emergency @lead-developer
src/lib/database/critical.ts @database-emergency @lead-developer
src/lib/payments/critical.ts @billing-emergency @security-emergency @lead-developer
